# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
thesounds

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# definitely don't want the sounds in the repo
# or any other crap
*.mp3
*.wav
*.ogg
*.jpg
*.JPG
*.jpeg

#misc files
config.json
*.txt
doorbell
button_central
doorbell_button

doorbell_central
doorbell_central
sync_chimes
web_central
doorbell_manage



